{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    <h1>City index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>AirQuality</th>
                <th>FineParticle</th>
                <th>HeavyParticle</th>
                <th>Ozone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.airQuality }}</td>
                <td>{{ city.fineParticle }}</td>
                <td>{{ city.heavyParticle }}</td>
                <td>{{ city.ozone }}</td>
                <td>
                    <a href="{{ path('city_show', {'id': city.id}) }}">show</a>
                    <a href="{{ path('city_edit', {'id': city.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('city_new') }}">Create new</a>
{% endblock %}
